#menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px white;
    
    background-color: black;
        border-radius: 8px;
}

#menu ul {
    position:fixed;
    top:0;
    width:100%;
}

#menu li { 
display: inline; 
padding: 20px; 
color:gray;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}

